# databaseconfig
  # Required: user
  #           host
  #           port
  #           database
  # Optional: password (default "")

# redisconfig
  # Required: host
  # Optional: port     (default 6379)
  #           password (default "")
  #           database (default 0)

# sessionconfig
  # Required: sessionsecretkey
  #           sessionname

#webconfig
  # Optional: maxuploadsize (default 32MB)
  # Optional: passwordstrength (default 10)


databaseconfig:
  username: "user"
  password: "password"
  database: "database"
  host:     "localhost"
  port:     5432
redisconfig:
  host:     "localhost"
  port:     6379
  password: ""
  database: 0
sessionconfig: 
  sessionsecretkey: "something very secret"
  sessionname:      "session-name"
webconfig:
  maxuploadsize: 100000000
  passwordstrength: 10 # Can be any integer between 4 and 31 (inclusive)
