# databaseconfig
  # Required: user
              host
              port
              database
  # Optional: password (default "")

# redisconfig
  # Required: host
  # Optional: port     (default 6379)
              password (default "")
              database (default 0)


databaseconfig:
  username: "user"
  password: "password"
  database: "database"
  host:     "localhost"
  port:     5432
redisconfig:
  host:     "localhost"
  port:     6379
  password: ""
  database: 0