<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
    {{range .ScriptSrc}}
        <style src="{{.Url}}"></style>
    {{end}}
    {{range .StyleSrc}}
        <script src="{{.Url}}"></script>
    {{end}}
    </head>
    <body>
        {{.Body}}
    </body>
</html>
