<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>{{.Title}}</title>
    {{range .StyleSrc}}
        <link rel="stylesheet" type="text/css" href="{{.Url}}"/>
    {{end}}
    {{range .ScriptSrc}}
        <script type="text/javascript" src="{{.Url}}"></script>
    {{end}}
    </head>
    <script type="text/javascript">
        var G = {};
    </script>
    <body>
        <div class="container">
            {{.Body}}
        </div>
    </body>
</html>
