<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
    {{range .StyleSrc}}
        <link rel="stylesheet" type="text/css" href="{{.Url}}"/>
    {{end}}
    {{range .ScriptSrc}}
        <script type="text/javascript" src="{{.Url}}"></script>
    {{end}}
    </head>
    <body>
        {{.Body}}
    </body>
</html>
